# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages in Data Science
- List popular libraries in Data Science
- List open source tools in Data Science
- Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
    1. Plotly
    2. Matplotlib
    3. Pandas

| Data Science Tools |
:--------------------:
| Jupyter Notebook   |
| Apache Spark       |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Neo Tom